<%- include('../layout/header.ejs') %>

<div class="container">
  <h3 class="text-center">
    <% article.forEach(element => { %>

    <% if(isLogin && id == element.authorid){ %>
    <div><%=element.title%> <a href="/article/edit/<%= element.id %>" class="btn btn-info pull-right">编辑</a></div>
    <hr>

    <% } %>
    <%});%>

  </h3>
  <hr>

  <div><%- article.content %></div>
</div>

<%- include('../layout/footer.ejs') %>